<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
</head>
<body>
<h1>Username: <span th:text="${currentUser.username}"></span>!</h1>
<p>Your roles:</p>
<ul>
    <li th:each="role : ${currentUser.roles}" th:text="${role.name}"></li>
</ul>
<p>Your last login date: <span th:text="${currentUser.login_date}"></span></p>

<p>
<form th:action="@{/receipts}" method="get">
    <button type="submit">View the receipts.</button>
</form>
</p>

<div th:if="${roles.contains('ROLE_ADMIN')}">
    <form th:action="@{/persons}" method="get">
        <button type="submit">View the users.</button>
    </form>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
