<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Receipt List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Receipt List</h1>

<script>
    function redirectToDetail(id) {
        window.location.href = '/receiptDetail/' + id;
    }
</script>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Item Name</th>
        <th>Comment</th>
        <th>Price</th>
    </tr>
    <tr th:each="receipt : ${receipts}" th:onclick="'redirectToDetail(' + ${receipt.id} + ')'">
        <td th:text="${receipt.id}"></td>
        <td th:text="${receipt.name}"></td>
        <td th:text="${receipt.item_name}"></td>
        <td th:text="${receipt.comment}"></td>
        <td th:text="${receipt.price}"></td>
    </tr>
</table>

<div th:if="${roles.contains('ROLE_ADMIN') or roles.contains('ROLE_ACCOUNTANT')}">
    <form th:action="@{/addReceipt}" method="get">
        <button type="submit">Add receipt.</button>
    </form>
</div>

<button onclick="window.history.back()">Back</button>
</body>
</html>
