<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receipt Detail</title>
    <style>

        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .receipt-list {
            display: flex;
            flex-direction: column;
        }

        .receipt-item {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<h1>Receipt Detail</h1>

<div class="receipt-list">
    <div class="receipt-item">
        <strong>ID:</strong> <span th:text="${receipt.id}"></span>
    </div>
    <div class="receipt-item">
        <strong>Name:</strong> <span th:text="${receipt.name}"></span>
    </div>
    <div class="receipt-item">
        <strong>Item Name:</strong> <span th:text="${receipt.item_name}"></span>
    </div>
    <div class="receipt-item">
        <strong>Comment:</strong> <span th:text="${receipt.comment}"></span>
    </div>
    <div class="receipt-item">
        <strong>Price:</strong> <span th:text="${receipt.price}"></span>
    </div>
    <div class="receipt-item">
        <strong>Kiállítás:</strong> <span th:text="${receipt.start_date}"></span>
    </div>
    <div class="receipt-item">
        <strong>Esedékesség:</strong> <span th:text="${receipt.end_date}"></span>
    </div>


</div>
<button onclick="window.history.back()">Back</button>
</body>
</html>
