<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script>
        function updateRegisterButton() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var role = document.getElementById("role").value;
            var registerButton = document.getElementById("registerButton");

            if (username && password && role) {
                registerButton.disabled = false;
            } else {
                registerButton.disabled = true;
            }
        }
    </script>
</head>
<body>

<h2>Registration</h2>
<form th:action="@{/register}" th:object="${userDTO}" method="post">

    <div>
        <label>Username:</label>
        <input type="text" name="username" id="username" required oninput="updateRegisterButton()"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" id="password" required oninput="updateRegisterButton()"/>
    </div>
    <div class="form-group">
        <label for="role">Select Role:</label>
        <select id="role" name="roles">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
    </div>

    <div>
        <input type="submit" value="Register" id="registerButton"/>
    </div>
</form>
<button onclick="window.history.back()">Back</button>
</body>
</html>
